# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
build/

# Android
/android/app/build/
/android/build/
/android/.gradle/
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/.idea/

# iOS
/ios/build/
/ios/Pods/
/ios/Podfile.lock
/ios/.symlinks/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh

# Generated APKs
*.apk
*.aab

# Keystore files
*.jks
*.keystore
